.container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cardContainer{
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px rgb(85, 165, 230) solid; 
  gap: 50px;
}


.box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--accent);
    padding-top: 40px;
    padding-left: 40px;
    opacity:0.5;
  }