.section{
  display:flex; 
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  overflow: hidden;
 
}

.container{
    display: flex;
    flex-direction: column;
    gap: 8;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 4;
}
.motionDiv{
    display: flex;
    justify-content: center;
    color: #fff;
}

.link{
    cursor: pointer;
    display: inline-block;
    padding: 6;
    font-size: 30px;
    color: #FFF;
}

.image1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2;
}

.image2{
    position: absolute;
    bottom: 0;
    right:0;
    width: 2;
}

