.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px rgb(85, 165, 230) solid; 
    gap: 50px;
 
}

.cardContainerSueldoyFecha{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    text-align: center;
}

.button{
    cursor: pointer;
    margin-top: 150px;
    width: 180px;  
}