@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-y:auto;
  min-height: 100%;
  word-break: break-word;
  -webkit-word-break: break-word;
   overflow-x: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}